
body {
    background-color: #fff;
    font-family: sans-serif;
  }
  a:hover {
    color: red;
  }
  h1, h2, h3 {
    font-weight: normal;
  }

  #code2 {
    /* float:left; */
    width: 100%;
  }

  #code {
    /* float:left; */
    font-family: monospace;
    font-size: larger;
    height: 50em;
    width: 100%;
    max-width: 111ex;
    /* background-color: black; */
  }
  #dataCode {
    font-family: monospace;
    font-size: larger;
    height: 3em;
    width: 100%;
    max-width: 111ex;
  }


#leftPart{
    float:left;
    width: 30%;
 }

 #rightPart{
    float:right;
    width: 70%;
 }
 
 
#sequence {
    /* float:right; */
    /* width: 80%; */
  } 



  #parseButton {
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    /* color: #bfffb3; */
    background-color: cornflowerblue;
    height: 3em;
    width: 10em;

   }

   #stepButton {
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    /* color: #bfffb3; */
    background-color: cornflowerblue;
    height: 3em;
    width: 10em;

   }

   #runButton {
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    /* color: #bfffb3; */
    background-color: cornflowerblue;
    height: 3em;
    width: 10em;

   }